.head{
   position: absolute;
  
  top: 10vw;
  left: 28vw;
  
  width: 40vw;
  height: 50vw;
  background: #FCD5CC;  
  border-radius: 45% 45% 47% 47% / 45% 45% 47% 47%;
}

.cheek_left{
  position:absolute;
  
    top:24vw;
  left:2vw; 
    
  
  border-radius:100%;
  opacity:0.5;
  width:15vw;
  height:15vw;
 --hdr-gradient: radial-gradient(
    70px circle in oklab,
    oklch(70% 0.50 53 / 54%),
    oklch(100% 0 165 / 0%)
  );
  --sdr-gradient: radial-gradient(200px circle, #ff0000d6, #fff0);

  background: var(--hdr-gradient);
  
  )

}


.cheek_right{
  position:absolute;
  
    top:24vw;
  left:22vw; 
    
  
  border-radius:100%;
  opacity:0.5;
  width:15vw;
  height:15vw;
 --hdr-gradient: radial-gradient(
    70px circle in oklab,
    oklch(70% 0.50 53 / 54%),
    oklch(100% 0 165 / 0%)
  );
  --sdr-gradient: radial-gradient(200px circle, #ff0000d6, #fff0);

  background: var(--hdr-gradient);
  
  )
}

.lips{
  position: absolute;
  top:30vw;
  
 background: radial-gradient(pink, red);bottom: 10vw;
  left: 8vw;
  height: 15vw;
  width: 24vw;
  clip-path: polygon(20% 63%, 29% 69%, 43% 72%, 57% 68%, 66% 61%, 56% 54%, 47% 52%, 42% 55%, 38% 53%, 28% 56%);
}

.nose{
  position:absolute;
  
  top:25vw;
  left:17vw;
  
  background:rgb(246, 191, 165);
  height: 8vw;
  width: 5vw;
  clip-path: polygon(54% 8%, 11% 100%, 92% 100%);
}

.hair{
  position:absolute;
  left:-31vw;
  top:-69vw;
  
  height:159vw;
  width:155vw;
  background-color:#EDD47B;
  clip-path:polygon(40% 85%, 41% 94%, 40% 100%, 37% 95%, 34% 99%, 32% 93%, 30% 98%, 28% 89%, 31% 81%, 31% 73%, 34% 62%, 34% 53%, 41% 46%, 50% 44%, 60% 46%, 66% 52%, 67% 62%, 68% 71%, 70% 81%, 70% 89%, 72% 98%, 67% 92%, 68% 100%, 65% 96%, 62% 93%, 63% 100%, 60% 88%, 61% 82%, 62% 75%, 62% 68%, 62% 61%, 61% 55%, 56% 52%, 50% 52%, 44% 54%, 40% 58%, 39% 67%, 39% 77%);
}

.eye_left{
  position:absolute;
  left:1vw;
  top:11vw;

  height:20vw;
  width:20vw;
  background-color:white;
  clip-path: polygon(19% 50%, 38% 39%, 56% 41%, 70% 47%, 74% 53%, 62% 61%, 44% 62%, 29% 59%);
}

.eye_right{
  position:absolute;
  left:18vw;
  top:11vw;

  height:20vw;
  width:20vw;
  transform:scaleX(-1);
  background-color:white;
  clip-path: polygon(19% 50%, 38% 39%, 56% 41%, 70% 47%, 74% 53%, 62% 61%, 44% 62%, 29% 59%);
}

.pupil_left{
  position:absolute;
  left: 11vw;
  top:7vw;

  height:5vw;
  width:20vw;
  transform:scaleX(-1);
  background-color:rgb(27, 91, 211);

}

.pupil_right{
  position:absolute;
  left: -12vw;
  top:7vw;

  height:5vw;
  width:20vw;
  transform:scaleX(-1);
  background-color:rgb(27, 91, 211);

}
