body {
  /* background:  */
}


.head{
  position: absolute;
  
  top: 10vw;
  left: 28vw;
  
  width: 40vw;
  height: 50vw;
  background: #FCD5CC;  
  border-radius: 45% 45% 47% 47% / 45% 45% 47% 47%;
}

.cheek_left{
  position:absolute;
  
    top:24vw;
  left:2vw; 
    
  
  border-radius:100%;
  opacity:0.5;
  width:15vw;
  height:15vw;
 --hdr-gradient: radial-gradient(
    70px circle in oklab,
    oklch(70% 0.50 53 / 54%),
    oklch(100% 0 165 / 0%)
  );
  --sdr-gradient: radial-gradient(200px circle, #ff0000d6, #fff0);

  background: var(--hdr-gradient);


}


.cheek_right{
  position:absolute;
  
  top:24vw;
  left:22vw; 
    
  
  border-radius:100%;
  opacity:0.5;
  width:15vw;
  height:15vw;
 --hdr-gradient: radial-gradient(
    70px circle in oklab,
    oklch(70% 0.50 53 / 54%),
    oklch(100% 0 165 / 0%)
  );
  --sdr-gradient: radial-gradient(200px circle, #ff0000d6, #fff0);

  background: var(--hdr-gradient);
  
}

.lips{
  position: absolute;
  top:30vw;
  left:9vw;
  
  background: radial-gradient(pink, red);bottom: 10vw;
  height: 15vw;
  width: 24vw;
  clip-path: polygon(20% 63%, 29% 69%, 43% 72%, 57% 68%, 66% 61%, 56% 54%, 47% 52%, 42% 55%, 38% 53%, 28% 56%);
}

.nose{
  position:absolute;
  
  top:25vw;
  left:17vw;
  
  background:rgb(246, 191, 165);
  height: 8vw;
  width: 5vw;
  clip-path: polygon(54% 8%, 11% 100%, 92% 100%);
}

.hair{
  position:absolute;
  left:-31vw;
  top:-69vw;
  
  height:159vw;
  width:155vw;
  background-color:#EDD47B;
  clip-path:polygon(40% 85%, 41% 94%, 40% 100%, 37% 95%, 34% 99%, 32% 93%, 30% 98%, 28% 89%, 31% 81%, 31% 73%, 34% 62%, 34% 53%, 41% 46%, 50% 44%, 60% 46%, 66% 52%, 67% 62%, 68% 71%, 70% 81%, 70% 89%, 72% 98%, 67% 92%, 68% 100%, 65% 96%, 62% 93%, 63% 100%, 60% 88%, 61% 82%, 62% 75%, 62% 68%, 62% 61%, 61% 55%, 56% 52%, 50% 52%, 44% 54%, 40% 58%, 39% 67%, 39% 77%);
}

.hair_back{
  position:absolute;
  left:20vw;
  top:20vw;
  
  height:80vw;
  width:70vw;
  background-color:#e6cd72;
  clip-path: polygon(13% 25%, 11% 38%, 13% 49%, 16% 61%, 16% 72%, 14% 87%, 19% 81%, 22% 71%, 25% 66%, 23% 78%, 25% 86%, 29% 75%, 28% 64%, 30% 83%, 33% 66%, 35% 74%, 35% 81%, 40% 72%, 38% 63%, 39% 57%, 40% 67%, 43% 77%, 41% 85%, 44% 90%, 44% 82%, 47% 73%, 48% 66%, 48% 79%, 47% 89%, 52% 83%, 52% 71%, 56% 62%, 58% 71%, 55% 78%, 57% 87%, 60% 93%, 59% 82%, 64% 72%, 66% 61%, 67% 41%, 68% 26%);
}

.hair_dent{
   position:absolute;
  left:38vw;
  top:-8.5vw;
  
  height:24vw;
  width:19vw;
  background-color:white;
  clip-path: polygon(27% 32%, 45% 54%, 65% 31%);
}

.eye_left{
  position:absolute;
  left:1vw;
  top:11vw;

  height:20vw;
  width:20vw;
  background-color:white;
  clip-path: polygon(19% 50%, 38% 39%, 56% 41%, 70% 47%, 74% 53%, 62% 61%, 44% 62%, 29% 59%);
}

.eye_right{
  position:absolute;
  left:18vw;
  top:11vw;

  height:20vw;
  width:20vw;
  transform:scaleX(-1);
  background-color:white;
  clip-path: polygon(19% 50%, 38% 39%, 56% 41%, 70% 47%, 74% 53%, 62% 61%, 44% 62%, 29% 59%);
}

.pupil_left{
  position:absolute;
  left: 11vw;
  top:8vw;

  height:7vw;
  width:4vw;
  transform:scaleX(-1);
  background-color:rgb(27, 91, 211);

}

.pupil_right{
  position:absolute;
  left: 4vw;
  top:7vw;

  height:12vw;
  width:4vw;
  transform:scaleX(-1);
  background-color:rgb(27, 91, 211);

}

.eye_left:hover + .eye_right > .pupil_right{
  left:11vw;
}

.eye_left:hover > .pupil_left{
  left:4vw;
}

.eye_right:hover ~ .eye_left > .pupil_left{
  left:11vw;
}

.eye_right:hover > .pupil_right{
  left:11vw;
}

.eyebrow_left{
  position:absolute;
  left:19vw;
  top:11vw;

  height:22vw;
  width:27vw;
  background-color:rgb(249, 237, 192);
  clip-path: polygon(18% 21%, 18% 29%, 37% 27%, 46% 28%, 56% 31%, 54% 25%, 45% 21%, 32% 20%);



}

.eyebrow_right{
  position:absolute;
  left:-7vw;
  top:11vw;

  height:22vw;
  width:27vw;
  transform:scaleX(-1);
  background-color:rgb(249, 237, 192);
  clip-path: polygon(18% 21%, 18% 29%, 37% 27%, 46% 28%, 56% 31%, 54% 25%, 45% 21%, 32% 20%);

}

.glass_left{
  position:absolute;
  left:19vw;
  top:17.5vw;

  height:28vw;
  width:38vw;
  background-color:rgb(189, 181, 89);
  clip-path: polygon(32% 37%, 40% 32%, 50% 32%, 60% 34%, 68% 40%, 73% 49%, 72% 59%, 67% 68%, 51% 72%, 38% 71%, 29% 64%, 26% 51%, 33% 51%, 35% 61%, 43% 67%, 56% 67%, 65% 62%, 69% 55%, 67% 47%, 62% 42%, 56% 39%, 49% 37%, 43% 38%, 38% 41%, 33% 52%, 27% 51%, 33% 38%, 31% 35%);
}

.glass_right{
  position:absolute;
  left:38vw;
  top:17.5vw;

  height:28vw;
  width:38vw;
  transform:scaleX(-1);
  background-color:rgb(189, 181, 89);
  clip-path: polygon(32% 37%, 40% 32%, 50% 32%, 60% 34%, 68% 40%, 73% 49%, 72% 59%, 67% 68%, 51% 72%, 38% 71%, 29% 64%, 26% 51%, 33% 51%, 35% 61%, 43% 67%, 56% 67%, 65% 62%, 69% 55%, 67% 47%, 62% 42%, 56% 39%, 49% 37%, 43% 38%, 38% 41%, 33% 52%, 27% 51%, 33% 38%, 31% 35%);
}

.glass_bridge{
  position:absolute;
  left:46vw;
  top:31.5vw;

  height:1vw;
  width:3vw;
  transform:scaleX(-1);
  background-color:rgb(189, 181, 89);
}